extends tweetLayout

block content
	h1 #{title}
	h2 Make Tweet
	#makeTweet
		fieldset
			input#inputURL(type="text", placeholder="Enter your URL here", value="http://benefitsofmuscle.com/benefits-of-squat/") 
			button#btnSubmit Submit
			|  (Note URL's will always take 22 characters)

	#results